body {
            min-width:650px;
            background-color: rgba(100, 100, 100, .1);
        }

::selection {
    background-color: rgba(144, 12, 63, .3);
}

        .card {
            width: 900px;

            border: 0px;
        }

        .card-header {
            background-color: rgba(100,100,100, .4);
            font-size: 1.2rem;
        }

        .card-body {
            background-color: rgba(100,100,100, .1);
        }

        .btn-primary {
            color:#fff;
            background-color: rgba(144, 12, 63, .7);
            border-color: rgba(144, 12, 63, .7)
        }

        .btn-primary:hover {
            color:#fff;
            background-color: rgba(144, 12, 63, .9);
            border-color: rgba(144, 12, 63, .9)
        }

        .btn-outline-primary {
            color: rgba(144, 12, 63, .7);
            background-color:transparent;
            background-image:none;
            border-color: rgba(144, 12, 63, .7);
        }

        .btn-outline-primary:hover {
            color:#fff;
            background-color: rgba(144, 12, 63, .7);
            border-color: rgba(144, 12, 63, .7)
        }

        a, a:link, a:visited {
            text-decoration:none;
            color: rgba(144, 12, 63, .7);
        }

        a:hover {
            color: rgba(144, 12, 63, .8)
        }

        .plat {
            background-color: rgba(220,220,220,.7);
            border: 1px solid rgba(200,200,200,.7);
            height: 150px;
        }

        .plat:hover {
            background-color: rgba(240,240,240,.7);
            border-bottom: 2px solid rgba(144,12,63,.7);
            color: rgba(144,12,63,.8);
            font-weight: bolder;
        }

        .row {
            margin:0;
            padding:0;
        }

        .form-control:focus {
            border: 1px solid rgba(144,12,63,.7);
            box-shadow: none !important;
        }

        .footer {
            font-size: 0.8rem;
            color: rgba(0,0,0,0.4);
        }