{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
               <div class="d-flex justify-content-center my-4" style="width:700px">
                       <div class="col-6">
                           <p><b>Оборудование:</b> {{title}}</p>
                            {% for field in fields %}
                                <p><b>{{ field.0 }}:</b> {{field.1}}</p>
                            {% endfor %}
                        </div>

                        {% if code %}
                        <div class="">
                            <p><b>Штрих-код:</b></p>
                            <div style="border:solid 1px rgba(144, 12, 63, .7)">{{ barcode|safe }}</div>
                        </div>
                        {% endif %}
               </div>
        </div>
            <div class="row d-flex justify-content-center">
                <div class="d-flex justify-content-end my-1" style="width:450px">
                    <form action="">
                        {% if code %}
                            <button type="submit" class="btn btn-sm btn-primary">Распечатать штрих-код</button>
                        {% endif %}
                        {% if role == '1' %}
                            <button type="submit" class="btn btn-sm btn-primary">Редактировать</button>
                        {% endif %}
                    </form>
                </div>
            </div>
    </div>
{% endblock %}