{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
               <div class="d-flex justify-content-center my-4" style="width:700px">
                       <div class="col">
                           <p><b>Оборудование:</b> {{title}}</p>
                            {% for field in fields %}
                                <p><b>{{ field.0 }}:</b> {{field.1}}</p>
                            {% endfor %}
                        </div>

                        {% if code %}
                        <div class="col">
                            <p><b>Штрих-код:</b></p>
                            {% with 'codes/'|add:prefix|add:'/'|add:code|add:'.svg' as image_static %}
                                <img src='{% static image_static %}' alt="" height="150" width="160" style="border: 1px solid rgba(200,200,200,.7);">
                            {% endwith %}
                        </div>
                        {% endif %}
               </div>
        </div>
            <div class="row d-flex justify-content-center">
                <div class="d-flex justify-content-end my-1" style="width:450px">
                    <form action="">
                        {% if code %}
                            <button type="submit" class="btn btn-sm btn-primary">Распечатать штрих-код</button>
                        {% endif %}
                        {% if role == '1' %}
                            <button type="submit" class="btn btn-sm btn-primary">Редактировать</button>
                        {% endif %}
                    </form>
                </div>
            </div>
    </div>
{% endblock %}