{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
               <div class="d-flex justify-content-center my-4" style="width:700px">
                       <div class="col-6">
                           <p><b>Оборудование:</b> {{title}}</p>
                            {% for field in fields %}
                                <p><b>{{ field.0 }}:</b> {{field.1}}</p>
                            {% endfor %}
                        </div>

                        {% if code %}
                        <div class="">
                            <p><b>Штрих-код:</b></p>
                            <div style="border:solid 1px rgba(144, 12, 63, .7)">{{ barcode|safe }}</div>
                        </div>
                        {% endif %}
               </div>
        </div>
            <div class="row d-flex justify-content-center">
                <div class="d-flex justify-content-end my-1" style="width:450px">

                        {% if code %}
                            <button class="btn btn-sm btn-primary" onclick="window.print()">Распечатать штрих-код</button>
                        {% endif %}
                        {% if role == '1' %}
                            <button type="button" class="btn btn-sm btn-primary mx-2" data-toggle="modal" data-target="#exampleModal">Изменить</button>
                        {% endif %}

                        <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header py-2">
                                            <h5 class="modal-title" id="exampleModalLabel">Изменить оборудование</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <form action="">
                                                  form under construction
                                              </form>
                                          </div>
                                          <div class="modal-footer py-2">
                                            <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                        <!-- End Modal -->


                </div>
            </div>
    </div>
{% endblock %}