{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row my-2"></div>

    <div class="row d-flex justify-content-center mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <b>Оборудование: Наличие</b>
            </div>
            <div class="card-body m-0 p-0">
                <div class="row col-12 d-flex justify-content-start">
                    <a href="{% url 'show_items' 'arms' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">АРМы</a>
                    <a href="{% url 'show_items' 'units' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Системные блоки</a>
                    <a href="{% url 'show_items' 'monitors' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Мониторы</a>
                    <a href="{% url 'show_items' 'printers' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">МФУ / принтеры</a>
                    <a href="{% url 'show_items' 'scanners' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Сканеры штрих-кода</a>
                    <a href="{% url 'show_items' 'ibps' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">ИБП</a>
                    <a href="{% url 'show_items' 'phones' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Телефоны</a>
                    <a href="{% url 'show_items' 'routers' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Маршрутизаторы / свичи</a>
                    <a href="{% url 'show_items' 'scales' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Весы</a>
                </div>
            </div>
        </div>
    </div>




    <div class="row d-flex justify-content-center mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <b>АРМ</b>
            </div>
            <div class="card-body m-0 p-0">
                <div class="row col-12 d-flex justify-content-start">
                    <a href="{% url 'add_item' 'arm' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить АРМ</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <b>Оборудование: Добавление в базу</b>
            </div>
            <div class="card-body m-0 p-0">
                <div class="row col-12 d-flex justify-content-start">
                    <a href="{% url 'add_item' 'unit' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить системный блок</a>
                    <a href="{% url 'add_item' 'monitor' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить монитор</a>
                    <a href="{% url 'add_item' 'printer' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить МФУ / принтер</a>
                    <a href="{% url 'add_item' 'scanner' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить сканер штрих-кода</a>
                    <a href="{% url 'add_item' 'ibp' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить ИБП</a>
                    <a href="{% url 'add_item' 'phone' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить телефон</a>
                    <a href="{% url 'add_item' 'router' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить маршрутизатор / свич</a>
                    <a href="{% url 'add_item' 'scale' %}" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Добавить весы</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <b>Отчеты</b>
            </div>
            <div class="card-body m-0 p-0">
                <div class="row col-12 d-flex justify-content-start">
                    <a href="#" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Отчет 1</a>
                    <a href="#" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Отчет 2</a>
                    <a href="#" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Отчет 3</a>
                    <a href="#" class="plat col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center text-center">Отчет 4</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}