{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row my-5"></div>

    <div class="row d-flex justify-content-start mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <h6 class="my-0">Списки</h6>
            </div>
            <div class="card-body">
                <a href="{% url 'show_items' 'arms' %}" class="btn btn-primary my-1">АРМы</a>
                <a href="{% url 'show_items' 'units' %}" class="btn btn-primary my-1">Системные блоки</a>
                <a href="{% url 'show_items' 'monitors' %}" class="btn btn-primary my-1">Мониторы</a>
                <a href="{% url 'show_items' 'printers' %}" class="btn btn-primary my-1">МФУ/принтеры</a>
                <a href="{% url 'show_items' 'scanners' %}" class="btn btn-primary my-1">Сканеры штрих-кода</a>
                <a href="{% url 'show_items' 'ups' %}" class="btn btn-primary my-1">ИБП</a>
                <a href="{% url 'show_items' 'phones' %}" class="btn btn-primary my-1">Телефоны</a>
                <a href="{% url 'show_items' 'routers' %}" class="btn btn-primary my-1">Маршрутизаторы/свичи</a>
                <a href="{% url 'show_items' 'scales' %}" class="btn btn-primary my-1">Весы</a>
            </div>
        </div>
    </div>




    <div class="row d-flex justify-content-start mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <h6 class="my-0">АРМ</h6>
            </div>
            <div class="card-body">
                <a href="{% url 'add_item' 'arm' %}" class="btn btn-primary my-1">Добавить АРМ</a>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-start mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <h6 class="my-0">Оборудование</h6>
            </div>
            <div class="card-body">
                <a href="{% url 'add_item' 'unit' %}" class="btn btn-primary my-1">Добавить системный блок</a>
                <a href="{% url 'add_item' 'monitor' %}" class="btn btn-primary my-1">Добавить монитор</a>
                <a href="{% url 'add_item' 'printer' %}" class="btn btn-primary my-1">Добавить МФУ/принтер</a>
                <a href="{% url 'add_item' 'scanner' %}" class="btn btn-primary my-1">Добавить сканер штрих-кода</a>
                <a href="{% url 'add_item' 'ups' %}" class="btn btn-primary my-1">Добавить ИБП</a>
                <a href="{% url 'add_item' 'phone' %}" class="btn btn-primary my-1">Добавить телефон</a>
                <a href="{% url 'add_item' 'router' %}" class="btn btn-primary my-1">Добавить маршрутизатор/свич</a>
                <a href="{% url 'add_item' 'scale' %}" class="btn btn-primary my-1">Добавить весы</a>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-start mx-5 mb-4">
        <div class="card">
            <div class="card-header">
                <h6 class="my-0">Отчеты</h6>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary my-1">Отчет 1</a>
                <a href="#" class="btn btn-primary my-1">Отчет 2</a>
                <a href="#" class="btn btn-primary my-1">Отчет 3</a>
                <a href="#" class="btn btn-primary my-1">Отчет 4</a>
                <a href="#" class="btn btn-primary my-1">Отчет 5</a>
                <a href="#" class="btn btn-primary my-1">Отчет 6</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}